@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  background-color: #292828;
}

/* https://stackoverflow.com/questions/17000562/removing-the-clear-and-reveal-password-icons-from-internet-explorer */
/* This handles the IE cringe on windows, stops the browser from coming up with its own reveal and clear icons */
input::-ms-reveal,
input::-ms-clear {
      display: none;
}
